.btn{
    width: 80px;
    height: 30px;
    border: black 2px solid;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
}


.btn:hover{
    cursor: pointer;
}

.btn_big{
    width: 90%;
    height: 30px;
    border: black 2px solid;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
}


.btn_big:hover{
    cursor: pointer;
}